/* Your custom styles */


.container
{
    background-color: #EEEEEE;
	width: 80%;
	top: 30px;
	position: relative;
	border-radius: 9px;
	padding: 0px;
}	

body
{
	background-color: #CCCCCC;
}	



.jumbotron.a
{
	padding: 30px;
	background-color: #FFFFFF;
}		

